In [1]:
import pandas as pd

In [2]:
dict={"India":["uttar Pradesh","Punjab","Mumbai","Kanpur","Banglore","Bhopal"],"employes name":["Akash","harsh","priyanka","vaishali","Ankit","vishal"],"Gender":["M","M","F","F","M","M"],"Salary":["9 lakh","12 lakh","48 lakh","1 crore","27 lakh","10 lakh"]}

In [3]:
data = pd.DataFrame(dict)

In [4]:
print(data)

           India employes name Gender   Salary
0  uttar Pradesh         Akash      M   9 lakh
1         Punjab         harsh      M  12 lakh
2         Mumbai      priyanka      F  48 lakh
3         Kanpur      vaishali      F  1 crore
4       Banglore         Ankit      M  27 lakh
5         Bhopal        vishal      M  10 lakh